<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.envisionate.musicexplorer"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <meta-data
        android:name="com.google.android.gms.car.application"
        android:resource="@xml/automotive_app_desc" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/track"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicExplorer">

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="8"/>

        <meta-data
            android:name="androidx.car.app.TintableAttributionIcon"
            android:resource="@drawable/track" />

        <meta-data android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@drawable/ic_launcher_background" />

        <meta-data
            android:name="com.google.android.gms.car.application.theme"
            android:resource="@style/Theme.MusicExplorer"/>

        <activity
            android:name="com.envisionate.musicexplorer.MusicExplorer"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.envisionate.musicexplorer.Settings"
            android:exported="false"
            android:launchMode="singleTop"
            android:label="@string/action_settings">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.envisionate.musicexplorer.Play"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/action_play">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.envisionate.carservice.CarService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService"/>
                <category android:name="androidx.car.app.category.POI"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.envisionate.musicexplorer.BluetoothReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.envisionate.musicexplorer.StartMusicExplorerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.envisionate.musicexplorer.START" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.envisionate.musicexplorer.MusicExplorerStartedNotification"
            android:exported="true">
            <intent-filter>
                <action android:name="com.envisionate.musicexplorer.STARTED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>