<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.envisionate.musicinfolders">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <meta-data
        android:name="com.google.android.gms.car.application"
        android:resource="@xml/automotive_app_desc" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/track"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicExplorer">

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="8"/>

        <activity
            android:name="com.envisionate.musicinfolders.MusicExplorer"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.envisionate.musicinfolders.Settings"
            android:exported="false"
            android:launchMode="singleTop"
            android:label="@string/action_settings">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.envisionate.musicinfolders.Play"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/action_play">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.envisionate.carservice.CarService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService"/>
                <category android:name="androidx.car.app.category.POI"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.envisionate.musicinfolders.BroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.envisionate.musicinfolders.START" />
                <action android:name="com.envisionate.musicinfolders.STARTED" />
                <action android:name="com.envisionate.musicinfolders.STARTED_WITH_PLAY" />
                <action android:name="com.envisionate.musicinfolders.SETUP_NOTIFY"/>
                <action android:name="com.envisionate.musicinfolders.SETUP_DONE"/>
                <action android:name="com.envisionate.musicinfolders.PLAY_NOTIFY"/>
                <action android:name="com.envisionate.musicinfolders.PLAY_NOTIFY_UPDATE_TRACK_INFO"/>
                <action android:name="com.envisionate.musicinfolders.NAVIGATION_NOTIFY"/>
                <action android:name="com.envisionate.musicinfolders.STOP_REQUESTED"/>
                <action android:name="com.envisionate.musicinfolders.CAR_PLAY_STOPPED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>